body{
    background-color: darkgrey;
}
.container{
    background-color: green;
    margin: auto;
    text-align: center;
    max-width: 400px;
    height: 200px;
    position: relative;
    top: 250px;
    overflow: hidden;
}